@import url(./__image/lead__image.css);
@import url(./__caption/lead__caption.css);
@import url(./__title/lead__title.css);
@import url(./__subtitle/lead__subtitle.css);
@import url(./__figure/lead__figure.css);

.lead {
    box-sizing: border-box;
    max-width: 984px;
    padding: 0;
    margin: 56px auto 0;
}

@media (max-width: 1024px) {
    .lead {
        margin-top: 48px;
        max-width: 928px;
    }
}



