@import url(./__logo/header__logo.css);
@import url(./__lang/header__lang.css);
@import url(./__lang-link/header__lang-link.css);
@import url(./__lang-link/_active/header__lang-link_active.css);

.header {
    box-sizing: border-box;
    max-width: 1184px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 28px auto 0;
    padding: 0;
}

@media (max-width: 1280px) {
    .header {
        margin: 28px 48px 0;
    }
} 

@media (max-width: 900px) {
    .header {
        margin: 28px 36px 0;
    }
}  

@media (max-width: 768px) {
    .header {
        margin: 28px 24px 0;
    }
}

@media (max-width: 670px) {
    .header {
        margin: 16px 16px 0;
    }
}