.place__text {
    margin-left: 40px;
}

@media (max-width: 1024px) {
    .place__text {
        margin-left: 32px;
    }
}

@media (max-width: 768px) {
    .place__text {
        margin-left: 28px;
    }
}

@media (max-width: 670px) {
    .place__text {
        margin: 40px 0 0;
    }
}

@media (max-width: 500px) {
    .place__text {
        margin-top: 32px;
    }
}

@media (max-width: 375px) {
    .place__text {
        width: 90vw;
        margin: 32px auto 0;
    }
}