.cover__overlay {
    position: absolute;
    z-index: 2;
    top: center;
    left: 0;
    max-width: 1184px;
    width: 100%;
    min-height: 740px;
}

.cover__overlay::before {
    content: '';
    width: 100%;
    max-width: 1184px;
    min-height: 740px;
    background-color: #2A2C2F;
    opacity: 0.3;
    position: absolute;
    z-index: 2;
    top: center;
    left: 0;
}